@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Karla', sans-serif;
    background-color: aliceblue;
}

img {
    display: block;
    width: 100%;
}

h1, h2, h3, h4, h5, h6, p, ul {
    margin-top: 0;
    margin-bottom: 0;
}

button {
    border: none;
    outline: none;
}

input {
    outline: 0;
}

.app__form {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0003;
    backdrop-filter: blur(3px);
    transform: scale(0);
    transition: transform 200ms ease;
}

.app__form-visible {
    transform: scale(1);
}

.form {
    padding: 1.2em;
    width: 100%;
    max-width: 350px;
    background-color: white;
    border-radius: 0.7em;
    position: relative;
}

.form__title {
    font-size: 1.5rem;
    margin-bottom: 0.6em;
}

.form__item {
    display: flex;
    flex-direction: column;
    gap: 0.3em;
    margin-bottom: 0.8em;
}

.form__label {
    color: rgb(54, 53, 53);
    padding-left: 1em;
}

.form__input {
    padding: 0.4em 0.8em;
    font-family: inherit;
}

.form__btn {
    width: 100%;
    padding: 0.8em;
    background-color: #555a88;
    color: white;
    cursor: pointer;
}

.app__btn-form {
    width: 100px;
    padding: 0.8em;
    background-color: #555a88;
    color: white;
    cursor: pointer;
}

.form__x {
    position: absolute;
    right: 1.5em;
    top: 1em;
    font-size: 1.2em;
    color: red;
    cursor: pointer;
    transition: transform 100ms ease;
}

.form__x:hover {
    transform: scale(1.2);
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px;
    gap: 25px;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.card {
    background-color: papayawhip;
    padding: 15px 25px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.card__title {
    text-transform: uppercase;
}

.card__list{
    list-style: none;
    padding-left: 0;
}

.card__btn-delete {
    background-color: tomato;
    padding: 5px 10px;
    border-radius: 5px;
    width: 100px;
    cursor: pointer;
}

.card__btn-update {
    background-color: greenyellow;
    padding: 5px 10px;
    border-radius: 5px;
    width: 100px;
    cursor: pointer;
}

.card__btn-delete:hover, .card__btn-update:hover {
    filter: opacity(0.8);
}
